*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* div content */
body{
    border: 2px solid blue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-div{
    border: 2px solid black;
    height: 50%;
    width: 30%;
}

.content-div form{
    border: 2px solid black;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content-div form input{
    width: 70%;
    height: 10%;
    font-size: 1.2rem;
    text-align: center;
}
